@media (min-width:768px)  { 
img{
    width: 15rem;
}

.me-auto{
    margin-left: 100px;
    
}

.navlink:hover{
    color: red;
}

}


@media (min-width:1024px) {

.me-auto{
    margin-left: 50%

}

}

@media (min-width:1440px) {

.me-auto{
    margin-left: 50%;
    justify-content: space-between;
    
}



.navlink:hover{
    color: red;
}

.log{
    padding-left: 10px;
    padding-right: 10px;
}
    
}