.features{
    width: 90%;
    text-align: center;
    margin-left: 5%;
}


.feat{
    text-align: center;
    margin-top: 30%;
}

.text{
    padding: 10px;
    text-decoration: wavy;
}

.advance{
    text-align: center;
    
}

.b{
    text-decoration: none;
}


.h{
   background: linear-gradient(to right); 
   margin-right: 10%;
   margin-left: 10%;
}

a{
    color: black; 
    cursor: pointer;
    
}


.all{
    width: 100%;
}


@media (min-width:768px)  { 
.feat{
    margin-top: 10%;
    
}
.features{
    text-align: center;
    width: 40%;
    font-size: 20px;
    margin-left: 30%;
    line-height: 30px;
    
}

.advance{
    width: 80%;
    font-size: 15px;
    padding-left: 20%; 
    display: flex;
    padding-right: 60px;
    
    
}


.b{
    color: black;
    padding-right: 10px;
    border-bottom: 1px solid red; 
    background: linear-gradient(to right); 
    
    
}

.h{
    background: linear-gradient(to right); 
    
 }

}


@media (min-width:1024px)  { 
    .feat{
        text-align: center;
        margin-top: 10%;
    }


}

@media (min-width:1440px) {
.features{
    margin-top: 10%;
}
}