.faq{
    text-align: center;
    margin-top: 20%;
    width: 90%;
    margin-left: 5%;
}

.butt{
    margin-top: 30px;
    background-color: rgba(82, 102, 223, 255);
    height: 50px;
    color: white;
    border-radius: 5px;
    width: 40%;
    margin-left: 30%;
    border-style: none;
    font-weight: bold;

}



@media (min-width:768px) {
.faq{
    width: 60%;
    margin-left: 20%;
    position: relative;
    bottom: 6rem;
}



.accord{
    width: 60%;
    margin-left: 20%;
    position: relative;
    bottom: 4rem;
}


.butt{
    width: 25%;
    margin-right: 20%;
}

}


@media (min-width:1440px) {
    .faq{
        margin-top: 5rem;
    }

    .accord{
        /* position: relative;
        bottom: 20rem; */
    }

    .butt{
        margin-top: 80px;
    }
}