.hero{
    width: 90%;
    margin-top: 20px;
    margin-left: 20px; 
}

.blue{
    background-color: rgba(82, 102, 223, 255);
    padding: 23%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 50px;
    height: 5%;
    position: absolute;
    top: 20%;
    left: 22%;
    right: 0;
    z-index: -1;
    
}


.simple{
    text-align: center;
    padding-top: 40px;
    width: 90%;
    margin-left: 5%;
}


.flex1{
    display: flex;
    margin-top: 40px;
}

.chrome{
    padding-left: 10px;
    margin-left: 15px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(82, 102, 223, 255);
    color: white;
    font-weight: bold;
    height: 40px;
}

.fire{
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    color: gray;
    height: 40px;
}



@media (min-width:768px)  { 

.all{
    display: flex;
    flex-direction: row-reverse;
}

.sec{
    width: 50%;
}
.sec2{
    width: 50%;
}

.blue{
    padding: 12%;
    margin-left: 40%;
}

.simple{
    font-size: 20px;
    margin-left: 40px;
}

.flex1{
    margin-left: 40px;
}

}

@media (min-width:1024px)  { 

}


    
    @media (min-width:1440px) {
    .all{
        margin-top: 40px;
    }
    
    .simple{
        font-size: 20px;
        text-align: left;
        width: 60%;
    }
        

    .blue{
        padding-bottom: 17%;
        border-bottom-left-radius: 30%;
    }

    .flex1{
        margin: auto 20px;
        margin-top: 30px;
    }

    .chrome{
        width: 25%;
    }

    .fire{
        width: 25%;
    }

    .sec2{
        margin-top: 60px;
    }
}